<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Petribe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MissingRecordServlet</servlet-name>
    <servlet-class>za101g2.missingrecord.controller.MissingRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MissingRecordServlet</servlet-name>
    <url-pattern>/za101g2/front/missingRecord/missingRecord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MissingReplyServlet</servlet-name>
    <servlet-class>za101g2.missingreply.controller.MissingReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MissingReplyServlet</servlet-name>
    <url-pattern>/za101g2/front/missingReply/missingReply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MissingReportServlet</servlet-name>
    <servlet-class>za101g2.missingreport.controller.MissingReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MissingReportServlet</servlet-name>
    <url-pattern>/za101g2/front/missingReport/missingReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberHomeServlet</servlet-name>
    <servlet-class>za101g2.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberHomeServlet</servlet-name>
    <url-pattern>/memberHome/memberHome.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JournalServlet</servlet-name>
    <servlet-class>za101g2.journal.controller.JournalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JournalServlet</servlet-name>
    <url-pattern>/journal/journal.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JournalReportServlet</servlet-name>
    <servlet-class>za101g2.journalReport.controller.JournalReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JournalReportServlet</servlet-name>
    <url-pattern>/journalReport/journalReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>za101g2.photo.controller.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/photo/photo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>za101g2.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnnouncementServlet</servlet-name>
    <servlet-class>za101g2.announcement.controller.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementServlet</servlet-name>
    <url-pattern>/announcement/announcement.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackJournalReportServlet</servlet-name>
    <servlet-class>za101g2.journalReport.controller.BackJournalReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackJournalReportServlet</servlet-name>
    <url-pattern>/backJournalReport/backJournalReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JournalPhoto</servlet-name>
    <servlet-class>za101g2.journal.controller.JournalPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JournalPhoto</servlet-name>
    <url-pattern>/journal/JournalPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoUpload</servlet-name>
    <servlet-class>za101g2.photo.controller.PhotoUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoUpload</servlet-name>
    <url-pattern>/Photo/PhotoUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoDisplay</servlet-name>
    <servlet-class>za101g2.photo.controller.PhotoDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoDisplay</servlet-name>
    <url-pattern>/Photo/PhotoDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberIconDisplay</servlet-name>
    <servlet-class>za101g2.member.controller.MemberIconDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberIconDisplay</servlet-name>
    <url-pattern>/Member/MemberIconDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetIconDisplay</servlet-name>
    <servlet-class>za101g2.pet.controller.PetIconDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetIconDisplay</servlet-name>
    <url-pattern>/Pet/PetIconDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackJournalBoardReportServlet</servlet-name>
    <servlet-class>za101g2.journalReport.controller.BackJournalBoardReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackJournalBoardReportServlet</servlet-name>
    <url-pattern>/backJournalBoardReport/backJournalBoardReport.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>za101g2.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/za101g2/front/storeCalendar/*</url-pattern>
    <url-pattern>/za101g2/front/storeBoard/*</url-pattern>
    <url-pattern>/za101g2/front/store/StoreHome.jsp</url-pattern>
    <url-pattern>/za101g2/front/store/StorePhotoUpload.jsp</url-pattern>
    <url-pattern>/za101g2/front/orderBoard/*</url-pattern>
    <url-pattern>/za101g2/front/onServcie/*</url-pattern>
    <url-pattern>/za101g2/front/missingReport/addMissingReport.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingReport/listMemberMissingReport.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingReply/addMissingReply.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingReply/bankInformation.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingReply/listMemberMissingReply.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/addMissingRecord.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/listMemberMissingRecord.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/listMemberMissingReplies.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/listOneMissingReplies.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/addMissingReplies.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/update_missingRecord_input.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/applyingStore.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/applyStore.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/apply_success.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/phoneValidate_step1.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/phoneValidate_step2.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/phoneValidate_final.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/updateIcon_success.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/updateIcon.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/updateNickname.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/updatePassword_success.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/updatePassword.jsp</url-pattern>
    <url-pattern>/za101g2/front/journal/addJournal.jsp</url-pattern>
    <url-pattern>/za101g2/front/journal/update_journal_input.jsp</url-pattern>
    <url-pattern>/za101g2/front/orderBoard/cancleOrder.jsp</url-pattern>
    <url-pattern>/za101g2/front/friend/friendApp.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>PhoneMemberFilter</filter-name>
    <filter-class>za101g2.filter.PhoneMemberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PhoneMemberFilter</filter-name>
    <url-pattern>/za101g2/front/storeCalendar/*</url-pattern>
    <url-pattern>/za101g2/front/storeBoard/*</url-pattern>
    <url-pattern>/za101g2/front/store/StoreHome.jsp</url-pattern>
    <url-pattern>/za101g2/front/store/StorePhotoUpload.jsp</url-pattern>
    <url-pattern>/za101g2/front/orderBoard/OrderBoardIndex.jsp</url-pattern>
    <url-pattern>/za101g2/front/orderBoard/Payment.jsp</url-pattern>
    <url-pattern>/za101g2/front/orderBoard/OrderListIndex.jsp</url-pattern>
    <url-pattern>/za101g2/front/onServcie/*</url-pattern>
    <url-pattern>/za101g2/front/missingReport/addMissingReport.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingReport/listMemberMissingReport.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingReply/addMissingReply.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingReply/bankInformation.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingReply/listMemberMissingReply.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/addMissingRecord.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/listMemberMissingRecord.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/listMemberMissingReplies.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/listOneMissingReplies.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/addMissingReplies.jsp</url-pattern>
    <url-pattern>/za101g2/front/missingRecord/update_missingRecord_input.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/applyingStore.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/applyStore_newer.jsp</url-pattern>
    <url-pattern>/za101g2/front/member/applyStore_wait.jsp</url-pattern>
    <url-pattern>/za101g2/front/orderBoard/cancleOrder.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>StoreValidatedFilter</filter-name>
    <filter-class>za101g2.filter.StoreValidatedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StoreValidatedFilter</filter-name>
    <url-pattern>/za101g2/front/storeCalendar/*</url-pattern>
    <url-pattern>/za101g2/front/storeBoard/*</url-pattern>
    <url-pattern>/za101g2/front/store/StoreHome.jsp</url-pattern>
    <url-pattern>/za101g2/front/store/StorePhotoUpload.jsp</url-pattern>
    <url-pattern>/za101g2/front/orderBoard/OneStoreBoardIndex.jsp</url-pattern>
    <url-pattern>/za101g2/front/orderBoard/StoreOrderList.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackLoginFilter</filter-name>
    <filter-class>za101g2.filter.BackLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackLoginFilter</filter-name>
    <url-pattern>/za101g2/back/announcement/*</url-pattern>
    <url-pattern>/za101g2/back/homePage/home.jsp</url-pattern>
    <url-pattern>/za101g2/back/homePage/pages/*</url-pattern>
    <url-pattern>/za101g2/back/journalBoardReport/*</url-pattern>
    <url-pattern>/za101g2/back/journalReport/*</url-pattern>
    <url-pattern>/za101g2/back/member/*</url-pattern>
    <url-pattern>/za101g2/back/missingRecord/*</url-pattern>
    <url-pattern>/za101g2/back/missingReport/*</url-pattern>
    <url-pattern>/za101g2/back/password/index.jsp</url-pattern>
    <url-pattern>/za101g2/back/staff/onesStaffInfo.jsp</url-pattern>
    <url-pattern>/za101g2/back/staff/staffManager.jsp</url-pattern>
    <url-pattern>/za101g2/back/store/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackStaffManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackStaffManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackStaffManagerFilter</filter-name>
    <url-pattern>/za101g2/back/staff/onesStaffInfo.jsp</url-pattern>
    <url-pattern>/za101g2/back/staff/staffManager.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackMemberManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackMemberManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackMemberManagerFilter</filter-name>
    <url-pattern>/za101g2/back/member/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackOrderReportManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackOrderReportManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackOrderReportManagerFilter</filter-name>
    <url-pattern>/za101g2/back/store/orderInfoForManage.jsp</url-pattern>
    <url-pattern>/za101g2/back/store/orderManage.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackStoreManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackStoreManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackStoreManagerFilter</filter-name>
    <url-pattern>/za101g2/back/store/orderInfoForManage.jsp</url-pattern>
    <url-pattern>/za101g2/back/store/orderManage.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackWantedManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackWantedManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackWantedManagerFilter</filter-name>
    <url-pattern>/za101g2/back/missingRecord/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackReportReportManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackReportReportManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackReportReportManagerFilter</filter-name>
    <url-pattern>/za101g2/back/missingReport/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackJournalManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackJournalManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackJournalManagerFilter</filter-name>
    <url-pattern>/za101g2/back/journalReport/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackMessagelManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackMessagelManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackMessagelManagerFilter</filter-name>
    <url-pattern>/za101g2/back/journalBoardReport/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackAnnouncementManagerFilter</filter-name>
    <filter-class>za101g2.filter.BackAnnouncementManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackAnnouncementManagerFilter</filter-name>
    <url-pattern>/za101g2/back/announcement/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/Taglib2</taglib-uri>
      <taglib-location>
       /WEB-INF/tlds/MyTaglib2.tld
     </taglib-location>
    </taglib>
  </jsp-config>
</web-app>